//Animated
@mixin commonButtonsProps {
  color: #ffffff;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s linear;
  transition-property: background, transform, color;
  will-change: background, transform, color, border, box-shadow;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 600;
  margin: 0.4rem;

  &:active {
    transform: scale(0.94);
  }
}
.baton {
  @include commonButtonsProps();
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  overflow: hidden;
  background: #404045;
}
.baton:hover {
  color: #000000;
}
.baton:hover::before {
  transform: scale(1.04);
}

.baton::before {
  content: "";
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff9a;
  border-radius: 5px;
  transform: scale(0);
  z-index: -1;
}
//default
.default {
  @include commonButtonsProps();
  background: #008000ce;
  color: #ffffff;
  &:hover {
    background: #008000;
  }
}
.dark {
  @include commonButtonsProps();
  background: #28282bd5;
  color: #ffffff;
  &:hover {
    background: #28282b;
  }
}
.light {
  @include commonButtonsProps();
  background: #f9f9f9;
  color: #000000;
  &:hover {
    background: #efeeee;
    box-shadow: 0 0 4px #8888887d;
  }
}

//outline
.outline {
  @include commonButtonsProps();
  background: none;
  border: 2px solid #a4a3a3;
  &:hover {
    background: #a4a3a37a;
  }
}
//danger
.danger {
  @extend .default;
  background: #ff0000d5;
  &:hover {
    background: #d90000;
  }
}
//primary
.primary {
  @include commonButtonsProps();
  // transition: all 0.3s ease;

  background: #1818f3b8;
  &:hover {
    background: #2121f5;
  }
}
//sizes
.sm {
  padding: 0.5rem 0.6rem;
  font-size: 0.8rem;
}
.md {
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
}
.lg {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}
