.navbar_header {
  box-shadow: 0px 0px 14px #888888c3;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}
.relative {
  position: relative;
  z-index: 999;
}
.absolute {
  position: absolute;
  top: 0;
  width: 100%;
}
.hyperLink {
  cursor: pointer;
  text-decoration: none;
  margin: 0 1rem;
  user-select: none;
  display: flex;
  align-items: center;
}
.dropdownContainer {
  user-select: none;
  position: relative;
  & img {
    position: relative;
    top: 0.3rem;
    right: 0.2rem;
  }
}
