.navbar_header {
  box-shadow: 0px 0px 14px #888888c3;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}
.relative {
  position: relative;
  z-index: 999;
}
.absolute {
  position: absolute;
  top: 0;
  width: 100%;
}
.hyperLink {
  cursor: pointer;
  text-decoration: none;
  margin: 0 1rem;
  user-select: none;
}
.NavbarLinksWrapper {
  display: flex;
  align-items: center;
}
.dropdownContainer {
  user-select: none;
  cursor: pointer;
  display: flex;
  position: relative;
  top: 1.3px;
  &:hover {
    .dropDownModal {
      transform: scale(1);
    }
  }
  .dropDownModal {
    position: absolute;
    box-shadow: 2px 2px 4px #888888;
    transition: transform 0.3s ease;
    width: 150px;
    top: 19.2px;
    height: fit-content;
    padding: 10px;
    border-radius: 1rem;
    left: -40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: scale(0);
    .dropdownLink {
      text-align: center;
      display: flex;
      flex-direction: column;
      & > * {
        padding: 5px 0;
        margin: 1px 0;
      }
    }
  }
}
